<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GravScale</title>
  </head>
  <body style="font-family: Roboto, Arial, sans-serif; max-width: 600px; margin: auto">
    <header
      style="
        box-sizing: border-box;
        background-color: black;
        height: 70px;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img src="https://drive.google.com/uc?export=view&id=1pva72EOInSF--C7LkBOzgJ8vl13MEcii" style="width: 10%; height: 100%;" alt="" />
    </header>
    <main>
      <img
        style="margin: auto; display: block"
        src="https://drive.google.com/uc?export=view&id=1wiWqOlf5Owc0fbagezpDi31_OrSEGOOx"
        alt=""
      />
      <div style="margin-top: 24px">

        <p>Olá, temos uma nova menssagem recebida pelo nosso site: </p>
        <section style="width: 100%; text-align: center; display: inline-block; padding: 0px 20px 20px 20px; background: gainsboro; border-radius: 40px 40px 40px 40px;">
          <p>{{text}}</p>
        </section>
        <p>Contato</p>
        <p style="font-size:14px">E-mail: <strong class="sbrBold">{{from_email}},</strong></p>
        <p style="font-size:14px">Telefone: <strong class="sbrBold">{{phone_number}},</strong></p>
        <p style="font-size:11px">enviado as <strong class="sbrBold">{{send_at}},</strong></p>

      </div>
      <div style="margin-top: 50px;">
        <p style=" font-weight: bold;">Abraço da Equipe Coinf</p>
        <a rel="noopener" style="color: #4b93ff;" href="https://construtoracoinf.com.br/" target="_blank">www.construtoracoinf.com.br</a>

      </div>
    </main>
    <footer
      style="
        background-color: black;
        height: 70px;
        width: 100%;
        margin-top: 30px;
        padding-top: 10px;
        box-sizing: border-box;
      "
    >
      <p style="color: #fff !important; text-align: center">
        ©2024 Construtora Coinf. Todos os direitos reservados.
      </p>
    </footer>
  </body>
</html>